@import url('https://fonts.googleapis.com/css2?family=Telex&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/*____Code Chunks____*/
.sourceCode pre {
    margin: 0 !important; /* makes space above and below symmetrical */
}

.sourceCode {
    margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

p.caption {
    color: #777;
    margin-top: 10px;
}

p code {
    white-space: inherit;
}

pre {
    word-break: normal;
    word-wrap: normal;
}

pre code {
    white-space: inherit;
}

p.flushright {
    text-align: right;
}

blockquote > p:last-child {
    text-align: right;
}

blockquote > p:first-child {
    text-align: inherit;
}

p, div {
    font-family: 'Telex', sans-serif;
}

.title {
    font-family: 'Ubuntu', serif;
    font-size: 2em !important;
    text-transform: uppercase;
    color: #0B3954;
}

.subtitle {
    font-family: 'Ubuntu', serif;
    text-transform: none;
    font-weight: 400;
    color: #0B3954;
    font-style: normal !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #0B3954;
    text-transform: uppercase;
    font-weight: 700;
}

ul.ro {
    list-style-type: circle;
}

li.ro::marker {
    font-size: 150%;
}

.prereqbox {
    padding: 1em;
    background: #C6E0E6;
    color: black;
    border: 2px solid #087E8B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prereqbox-header {
    padding-left: 1em;
    padding-right: 1em;
    background: #087E8B;
    color: white;
    border: 2px solid #087E8B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3.hasAnchor#prereq3 #prereq4 #prereq5 #prereq6 #prereq7 #prereq8 #prereq9 #prereq10 {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}

.summary {
    font-family: 'Ubuntu', sans-serif;
}

.book .book-summary {
    background: white;
    border-right: none;
}

.book.with-summary .book-header.fixed {
    left: 350px;
}

.book.with-summary .book-body {
    left: 350px;
}

.book .book-summary {
    width: 350px;
}

/*-----Body Links-------*/
.book .book-body .page-wrapper .page-inner section.normal a {
    color: #419599;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #19757F; /* darker color when hovering */
    text-decoration: none;
}

/* HERO IMAGE */
.hero-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 390px;
    background-color: #0b3954;
}

.hero-image {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.page-inner {
    padding-top: 400px !important;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: #0b3954;
}

.summary a:hover {
    color: #19757F !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
    color: #8d5b94 !important;
    border-left: solid 4px;
    border-color: #0b3954;
    padding-left: 11px !important;
}

li.appendix span, li.part span { /* for TOC part names */
    margin-top: 1em;
    color: #1c3046 !important;
    opacity: 1 !important;
    text-transform: uppercase;
}

/*--- LOGO ---*/
.toc-logo {
    width: 150px !important;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.toc-logo img {
    max-width: 100%;
    margin-bottom: -10px;
}

.summary > li:first-child {
    height: auto !important;
}

em {
  font-style: normal !important;
}

.prereqbox-header h3 {
    color: white !important;
}

