# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
*.log
*.pdf
# ignore all pdf files except:
!RawData/RECS_2015/microdata_v3.pdf
*.epub
**/*.bib
**/*.html 
# ignore all html files except:
!**/mathjax_header.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata