# don't push local rendered files in master branch
_book/
_bookdown_files/
bookdown_files/
bookdown_cache/
libs/
*.log
*.pdf
# ignore all pdf files except:
!RawData/RECS_2015/microdata_v3.pdf
!RawData/RECS_2020/microdata-guide.pdf
!RawData/ANES_2020/*.pdf
*.epub
**/*.bib
!book.bib
**/*.html
# ignore all html files except:
!**/mathjax_header.html
!**/plausible.html
!**/hero-image.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# LAPOP raw data
RawData/LAPOP_2021/
# ignore complete NCVS data files due to DUA
RawData/NCVS_2021/ICPSR_38429/
osf_dl/*.rds
latex/before_body_ded.tex